header {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 3px 10px #e3e3e3;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo-text h2 {
  font-size: 20px;
  font-weight: 700;
  color: color(theme);
}

.admin-info {
  display: flex;
  align-items: center;

  p {
    font-weight: 500;
    text-align: right;
  }

  h2.name {
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: right;

    span {
      text-transform: uppercase;
      margin-left: 3px;
    }
  }

  .userLogout {
    transform: rotate(270deg);
    margin-left: 15px;

    a {
      padding: 3px 8px 8px 8px;
      color: #fff !important;
      background-color: color(accent) !important;
      border-radius: 0.42rem;
      transition: 0.3s all ease-in-out;
      font-size: 20px;
      display: block;
      text-align: center;

      &:hover {
        background-color: rgba(255, 255, 255, 0.33);
      }
    }
  }

  .notification {
    margin-left: 10px;

    a {
      color: #fff !important;
      background-color: color(accent) !important;
      border-radius: 0.42rem;
      padding: 2px 10px 8px;
      transition: 0.3s all ease-in-out;
      font-size: 20px;
      display: block;
      text-align: center;

      &:hover {
        background-color: rgba(255, 255, 255, 0.33);
      }
    }
  }
}

.navBar {
  ul {
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      margin: 0 5px;

      a {
        color: color(text);
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        display: block;
        margin: 0 10px;
        border-bottom: 1px solid transparent;
        position:relative;

        span.notiCounter {
          position: absolute;
          top: -12px;
          right: -20px;
          background: color(accent);
          padding: 4px 8px;
          border-radius: 50px;
          color: #fff;
          font-size: 10px;
      }
      }

      a.active {
        border-color: color(accent);
        color: color(accent);
      }
    }
  }
}