.create-new {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 50px -5px 20px;

  h4 {
    margin-right: auto;
    font-size: 22px;
    font-weight: 600;
    margin-left: 5px;
  }

  .form_group {
    min-width: 300px;
    margin-bottom: 0;
  }

  .filter_Section {
    display: flex;
    margin: 0 -5px;

    > div,
    .btn {
      margin: 0 5px;
    }
  }
}

a.btn_icon {
  margin: 0 5px;
  border: 1px solid #ddd;
  border-radius: 7px;
  background-color: color(accent);
  color: color(white);
  font-size: 18px;
  font-weight: 800;
  height: 40px;
  width: 40px;
  display: block;
  text-align: center;
  line-height: 34px;
}

.user-rights-block {
  margin: 50px 0 0;
  min-height: 500px;

  .form_block {
    padding: 30px 0;

    p {
      font-size: 16px;
      margin-bottom: 15px;
      // border-bottom: 1px solid #ccc;
      // padding-bottom: 5px;
      font-weight: 600;
    }

    .form-check-label {
      opacity: 0.8;
    }
  }

  h4 {
    font-size: 20px;
    font-weight: 700;
    // text-align: center;
  }

  .flex_ftr {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .modal-footer {
    padding: 0;
    border-top: 0;
    border-radius: 0;
    justify-content: flex-start;

    .btn {
      padding: 6px 15px;
      min-width: auto;
      text-transform: capitalize;
      font-size: 14px;
    }
  }
}

.dataTables {
  margin-bottom: 50px;
  min-height: 600px;

  .table {
    margin-bottom: 0;

    th {
      border-bottom: 2px solid #e0e0e0;
      font-size: 15px;
      font-weight: 600;
      color: #000;
      white-space: nowrap;
      vertical-align: middle;
    }

    tbody tr:last-child td {
      border-bottom: 0;
    }

    .desctd {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 350px;
    }

    td {
      font-size: 14px;
      font-weight: 500;
      color: #747474;
      vertical-align: middle;
      white-space: nowrap;

      .btn-pending {
        color: #898989;
      }

      .btn-reject {
        color: red;
        text-decoration: underline;
      }

      .btn-approve {
        color: green;
      }

      .btn-billed {
        color: color(accent);
      }

      a {
        padding: 0 3px;
        color: color(accent);
      }
    }

    .activeTR td,
    .activeTR td a {
      background-color: color(accent);
      border-color: #fff;
      color: #fff !important;
    }

    tr.tblFtr td {
      background: color(white);
      border-bottom: 0;
      border-top: 2px solid #e0e0e0;
      font-size: 15px;
      font-weight: 600;
      color: #000;
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

.table-responsive::-webkit-scrollbar {
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9f9f9f;
}

.pagination {
  margin-top: 30px;

  .page-link {
    cursor: pointer;
    color: color(text);
  }

  .page-item.active .page-link {
    background-color: rgb(255 230 225);
    color: #ed492c;
  }
}

.dateBtn {
  position: relative;

  .btn {
    display: flex;
    align-items: center;
  }

  span {
    font-size: 24px;
    line-height: 0;
  }

  .react-datepicker {
    position: absolute !important;
    right: 0;
    min-width: 220px;
    z-index: 99;
  }

  .react-datepicker__month-text.react-datepicker__month--selected:hover,
  .react-datepicker__month-text.react-datepicker__month--in-range:hover,
  .react-datepicker__month-text.react-datepicker__quarter--selected:hover,
  .react-datepicker__month-text.react-datepicker__quarter--in-range:hover,
  .react-datepicker__quarter-text.react-datepicker__month--selected:hover,
  .react-datepicker__quarter-text.react-datepicker__month--in-range:hover,
  .react-datepicker__quarter-text.react-datepicker__quarter--selected:hover,
  .react-datepicker__quarter-text.react-datepicker__quarter--in-range:hover {
    background-color: #ed492c !important;
  }

  .react-datepicker__day--keyboard-selected,
  .react-datepicker__month-text--keyboard-selected,
  .react-datepicker__quarter-text--keyboard-selected,
  .react-datepicker__year-text--keyboard-selected {
    background-color: rgb(237 73 44 / 100%) !important;
    color: #fff !important;
  }

  .react-datepicker__month .react-datepicker__month-text,
  .react-datepicker__month .react-datepicker__quarter-text {
    margin: 2px !important;
    padding: 5px !important;
  }

  .react-datepicker__current-month,
  .react-datepicker-time__header,
  .react-datepicker-year-header {
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 1.5 !important;
    padding: 8px !important;
  }

  .react-datepicker__navigation {
    border: 0 !important;
    color: #fff !important;
    top: -7px !important;
  }

  .react-datepicker__triangle {
    position: unset !important;
    left: 0 !important;
  }
}

.form_block {
  .react-datepicker-wrapper {
    margin-top: 5px !important;
    flex-wrap: nowrap !important;
    margin-bottom: 20px !important;
  }
}

.react-datepicker__month-text.react-datepicker__month--selected:hover,
.react-datepicker__month-text.react-datepicker__month--in-range:hover,
.react-datepicker__month-text.react-datepicker__quarter--selected:hover,
.react-datepicker__month-text.react-datepicker__quarter--in-range:hover,
.react-datepicker__quarter-text.react-datepicker__month--selected:hover,
.react-datepicker__quarter-text.react-datepicker__month--in-range:hover,
.react-datepicker__quarter-text.react-datepicker__quarter--selected:hover,
.react-datepicker__quarter-text.react-datepicker__quarter--in-range:hover {
  background-color: #ed492c !important;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected,
.react-datepicker__day--selected {
  background-color: rgb(237 73 44 / 100%) !important;
  color: #fff !important;
}

.react-datepicker__month .react-datepicker__month-text,
.react-datepicker__month .react-datepicker__quarter-text {
  margin: 2px !important;
  padding: 5px !important;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 1.5 !important;
  padding: 8px !important;
}

.react-datepicker__navigation {
  border: 0 !important;
  color: #fff !important;
  top: 7px !important;
}

.pdf_icon {
  width: 30px;
}
